@model IEnumerable<Shopping.Client.Models.Product>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row border">
        <div class="col fw-bold">
            @Html.DisplayNameFor(model=>model.Name)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model=>model.Category)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model=>model.Description)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model=>model.ImageFile)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Price)
        </div>
    </div>
    
        @foreach (var prod in Model)
    {
        <div class="row border">
            <div class="col">@Html.DisplayFor(model => prod.Name)</div>
            <div class="col">@Html.DisplayFor(model => prod.Category)</div>
            <div class="col">@Html.DisplayFor(model => prod.Description)</div>
            <div class="col">@Html.DisplayFor(model => prod.ImageFile)</div>
            <div class="col">@Html.DisplayFor(model => prod.Price)</div>
        </div>
        }
    
</div>

